.eaUxtj {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fvwJdb {
    color: rgb(115, 25, 67);
    font-weight: 600;
    line-height: 22px;
    font-size: 20px;
    font-family: "Lato", sans-serif;
}

.cfnsRj {
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid rgb(115, 25, 67);
    margin-top: 8px;
  }